# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
onmyoji-soul-planner

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Provide your own souls DB and team
souls.yaml
team*.yaml
